body.oscuro {
    background: #222;
    color: white;
}

.galeria-mini img {
    width: 80px;
    cursor: pointer;
    margin-right: 5px;
}

.mover {
    animation: moverAnim 2s linear forwards;
}

@keyframes moverAnim {
    from { transform: translateX(0); }
    to { transform: translateX(300px); }
}

.error {
    color: red;
    font-size: 14px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}